/* Use your own code or past solution for Great Idea Web Page CSS here! */

#main-page {
    margin: 0 auto 20px 0;
    background-color: lightblue;
    width: 1000px;
    height: 1380px;
}

.navigation {
   /* margin-top: 30px; */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 40px;
    /* margin: 10px 20px; */
}

.navigation nav a {
    margin: 30px;
    color: grey;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.innovate {
    display: flex;
    flex-direction: column;
}
